<header class="face-page">
    <div class="header">
        <div class="logo">Builder</div>
        <ul tabindex="0" class="drop-list-lang " [class.box-shadow]="translator.changeLang">
            <li (click)="translator.toggleListLang()" class="lang" role="button">
                <span>{{'header.menu.lang.first' | translate}}</span>
                <span class="arrow rotate">&#709;</span>
            </li>
            <li *ngIf="translator.changeLang" role="button" tabindex="1"
                (click)="translator.switchLanguage(translator.langSecond)">
                <span>{{'header.menu.lang.second' | translate}}</span>
            </li>
        </ul>
        <div class="options">
            <nav>
                <a href="#" translate>header.menu.adventages</a>
                <a routerLink="features" translate>header.menu.features</a>
                <a href="#" translate>header.menu.signup</a>
            </nav>
        </div>

    </div>
    <div class="title">
        <h1 translate>header.title</h1>
        <p translate>
            header.text
        </p>
        <button type="button" class="custom_style btn btn-success btn-styles" translate>header.button</button>
    </div>
</header>