<header class="face-page">
    <div class="header">
        <div class="logo">Builder</div>
        <ul tabindex="0" class="drop-list-lang " [class.box-shadow]="changeLang">
            <li (click)="toggleListLang()" class="lang" role="button">
                <span>{{langFirst}}</span>
                <span class="arrow rotate">&#709;</span>
            </li>
            <li *ngIf="changeLang" role="button" tabindex="0" (click)="chooseLang(langSecond)">
                <span>{{langSecond}}</span>
            </li>
            <!-- {{language==="En"&&'Ua'||language==="Ua"&&'En'}} -->
        </ul>
        <div class="options">
            <a href="#" translate>header.menu.one</a>
            <a routerLink="features" translate>header.menu.2</a>
            <a href="#" translate>header.menu.3</a>
        </div>

    </div>
    <div class="title">
        <h1 translate>header.title</h1>
        <p translate>
            header.text
        </p>

        <button type="button" class="btn btn-success btn-styles" translate>header.button</button>
    </div>
</header>