<div class="features" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="100"
   (scrolled)="featuresData.scrollLoadData()">
   <header class="header">
      <a routerLink="/">{{'features.header.home'|translate}}</a> <br>
      <form [formGroup]="form">
         <div class="row g-3 align-items-center">
            <div class="col-auto">
               <label for="inputSearch" class="col-form-label">{{'features.header.search'|translate}}</label>
            </div>
            <div class="col-auto">
               <input type="search" id="inputSearch" class="form-control" formControlName="search">
            </div>
         </div>
      </form>
   </header>
   <div class="table-row title  ">
      <div class="item">&#8470;</div>
      <div class="item">{{'features.title.name'|translate}}</div>
      <div class="item">{{'features.title.city'|translate}}</div>
      <div class="item">{{'features.title.company'|translate}}</div>

   </div>
  
   <!-- <ng-template #loggedOut> -->
   <div class="table">
     
      <ul class="list-group list-group-horizontal-md users-list"
         *ngFor="let item of featuresData.loadData | filter: form.get('search')?.value">
         <li class="list-group-item">
            {{item?.id}}
         </li>
         <li class="list-group-item">
            <a [routerLink]="['/features',item.id, item.username]">
               {{item?.name}}
            </a>
         </li>
         <li class="list-group-item">{{item?.address?.city}}</li>
         <li class="list-group-item">{{item?.company?.name}}</li>
      </ul>
      <div *ngIf="loader" class="loader"></div>
   </div>
<!-- </ng-template> -->
</div>