<div class="bg-about">
    <div class="about">
        <div>
            <h2 appTitleStyle translate>about.title</h2>
            <p class="text" translate>
                about.text
            </p>
            <button type="button" class=" custom_style btn btn-success btn-styles" translate>about.button</button>
        </div>
        <div>
            <img src="./../../assets/images/image26.png" alt="table" width="555" height="460">
        </div>
    </div>
    <div class="about-us">
        <div class="about-us-content">
            <p translate>about.about-us.p1</p>
            <p translate>
                about.about-us.p2
            </p>
            <p translate>
                about.about-us.p3</p>
        </div>
    </div>
    <div class="services text_service">
        <app-office *ngFor="let i of ('service.about'|translate)" [data]="i" [block]="true" [textStyle]="false">
        </app-office>
    </div>
</div>