<div class="bg-why-us">
    <div class="wrap">
        <h2 appTitleStyle translate>why-us.title</h2>
        <div class="services">
            <app-office *ngFor="let i of ('service.why-us'|translate)" [data]="i" [block]="true" [textWeight]="true" [textStyle]="false"></app-office>
        </div>
        <div class="my-card">
            <h2 translate>why-us.card.title</h2>
            <div class="card-block" appShadowBlock>
                <div class="first">
                    <h3 translate>why-us.card.sub-title</h3>
                    <div class="text"><span translate>why-us.card.text</span></div>
                </div>
                <div class="second">
                    <div><span class="price" translate>why-us.card.price</span></div>
                    <div>
                        <button type="button" class=" custom_style btn btn-success btn-styles"
                            translate>why-us.card.button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>