$Rubik: "Rubik", sans-serif;
@mixin text_style($font_weight, $size, $height, $color) {
    font-family: $Rubik;
    font-size: $size;
    line-height: $height;
    font-weight: $font_weight;
    color: $color;
}
.bg-why-us {
    position: relative;
    top: -250px;
    left: -10%;
    width: 120%;
    height: 800px;
    text-align: center;
    padding: 0 10rem;
    border-top-left-radius: 130rem 13rem;
    border-top-right-radius: 130rem 13rem;
    background: #fff;
}
.wrap {
    position: relative;
    top: 100px;
}
.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 100px;
    height: 200px;
    app-service {
        width: 320px;
    }
}
.my-card {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        @include text_style(500, 70px, 56px, #2a1575);
    }
    .card-block {
        display: grid;
        // grid-template-rows: 80px 80px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-content: center;
        row-gap: 50px;
        width: 943px;
        height: 305px;
        margin: 20px auto;
        padding: 20px;
        h3 {
            @include text_style(500, 48px, 56px, #440e47);
            position: relative;
            top:30px;
            left:-140px
        }
        div.text  {
            @include text_style(400, 24px, 36px, #440e47);
            position: relative;
            text-align: left;
            padding:0 30px;
        }
        div > .price {
            @include text_style(500, 70px, 95px, #2a1575);
        }
    }
}
.first,.second{
    display: grid;
    grid-template-rows:  repeat(2, 1fr);
    row-gap: 30px;
}
button{
    width: 198px;
    height: 59px;
    border-radius: 30px;
}